{% extends "base.html" %}
{% load allauth i18n %}
<!-- Page Title -->
{% block title %}
<title> Logout | Foresight</title>
{% endblock title %}
<!-- logout.html content starts here -->
{% block content %}
<container class="d-flex justify-content-center mt-5">
    <div class="row">
        <div class="col">
            <div class="card text-bg-dark mb-3 p-3 acc-panel">
                <div class="row">
                    <div class="col">
                        <!-- Form Heading -->
                        <h1>Logout</h1>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <!-- Form Text -->
                        <p>
                            Are you sure you want to Logout?<br>We'll miss you while you're gone! <i
                                class="fa-solid fa-heart-crack"></i>
                        </p>
                        {% url 'account_logout' as action_url %}
                        {% element form method="post" action=action_url no_visible_fields=True %}
                        {% slot body %}
                        {% csrf_token %}
                        {{ redirect_field }}
                        {% endslot %}
                        {% slot actions %}
                        <!-- Form Submit Button -->
                        <button type="submit" class="btn btn-dark"><i class="fa-solid fa-lock"></i> Logout
                        </button>
                        {% endslot %}
                        {% endelement %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</container>
{% endblock content %}
<!-- logout.html content starts here -->