{% extends "base.html" %}
{% load allauth i18n %}

{% block content %}
<container class="d-flex justify-content-center mt-5">
    <div class="row">
        <div class="col">
            <div class="card text-bg-dark mb-3 p-3 acc-panel">
                <div class="row">
                    <div class="col">
                        <h1>Sign Up</h1>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        {% setvar link %}
                        <a href="{{ login_url }}">
                            {% endsetvar %}
                            {% setvar end_link %}
                        </a>
                        {% endsetvar %}
                        <p>
                            {% blocktranslate %}Already have an account? Then please {{ link }}sign
                            in{{ end_link }}.{% endblocktranslate %}
                        </p>
                        {% url 'account_signup' as action_url %}
                        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
                        {% slot body %}
                        {% csrf_token %}
                        {% element fields form=form unlabeled=True %}
                        {% endelement %}
                        {{ redirect_field }}
                        {% endslot %}
                        {% slot actions %}
                        <button type="submit" class="btn btn-dark"><i class="fa-solid fa-user-plus"></i> Sign Up
                        </button>
                        {% endslot %}
                        {% endelement %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</container>
{% endblock content %}