/* General Styles */
body {
    background-color: #000000;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
}

.heading {
    font-weight: bold;
}

.heading,
i {
    font-size: 18px;
}

.btn {
    font-size: 14px;
}

.hidden {
    display: none;
}

/* base.html styles */
.navbar-brand {
    color: #205781;
    font-size: 30px;
    font-weight: 500;
}

.navbar {
    color: #000000;
}

/* Accounts panels(Login, Logout, Register, Reset password) */
.acc-panel {
    min-width: 300px;
    max-width: 500px;
}