{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- edit_post.html content starts here -->
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <!-- Post being edited -->
            <div class="card mb-3 p-3">
                <div class="row mb-3 g-0">
                    <div class="col-md-2">
                        <!-- Profile Image -->
                        {% if "placeholder" in user.profile.profile_image.url  %}
                        <img src="{% static 'images/nobody.jpg' %}" width="50" height="50" class="rounded-circle"
                            alt="placeholder image">
                        {% else %}
                        <img src="{{ user.profile.profile_image.url }}" width="50" height="50" class="rounded-circle"
                            alt="{{user.username}}'s profile image">
                        {% endif %}
                    </div>
                    <!-- Post Author -->
                    <div class="col-md-10 text-center">
                        <a href="{% url 'profile_page' post.user.id %}">
                            <h5 class="card-title">{{post.user}}</h5>
                        </a>
                    </div>
                </div>
                <!-- Post Body/ Content -->
                <div class="row g-0">
                    <div class="col">
                        <p class="card-text">{{post.body}}</p>
                    </div>
                </div>
                {% if post.like_counter > 0 %}
                <div class="row mt-1 mb-1 text-muted">
                    <div class="col">
                        <small class="card-text"><i class="fa-solid fa-heart"></i> {{post.like_counter}}</small>
                    </div>
                </div>
                {% endif %}
                <div class="row mt-1 text-muted">
                    <div class="col-8">
                        {% if user in post.likes.all %}
                        <small class="card-text"><a href="{% url 'post_like' post.id %}"><i
                                    class="fa-solid fa-heart-circle-minus"></i> Unlike</a></small>
                        {% else %}
                        <small class="card-text"><a href="{% url 'post_like' post.id %}"><i
                                    class="fa-solid fa-heart-circle-plus"></i> Like</a></small>
                        {% endif %}
                    </div>
                    <div class="col-4">
                        <small class="card-text ">{{post.created_on}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Post edit form -->
            {% if post_form %}
            <div class="card mb-3 p-3 pb-0">
                <div class="row">
                    <div class="col-md-2">
                        <!-- Profile Image -->
                        {% if "placeholder" in user.profile.profile_image.url  %}
                        <img src="{% static 'images/nobody.jpg' %}" width="50" height="50" class="rounded-circle"
                            alt="placeholder image">
                        {% else %}
                        <img src="{{ user.profile.profile_image.url }}" width="50" height="50" class="rounded-circle"
                            alt="{{user.username}}'s profile image">
                        {% endif %}
                    </div>
                    <div class="col-md-10 text-center">
                        <h5 class="card-title">{{ user.username }}</h5>
                    </div>
                    <div class="card-body">
                        <form id="PostForm" method="post" style="margin-top: 1.3em;">
                            <div class="row">
                                <div class="col-12 col-sm-10">
                                    {{ post_form | crispy }}
                                    {% csrf_token %}
                                </div>
                                <div class="col col-sm-2 ">
                                    <button id="submitButton" type="submit" class="btn btn btn-dark"><i
                                            class="fa-solid fa-paper-plane"></i> Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- edit_post content ends here -->
{% endblock %}

{% block extras %}
<script src="{% static 'js/posts.js' %}"></script>
{% endblock %}