{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- index.html content starts here -->

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <!-- Post creation form -->
            <div class="col">
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <p>Posting as: {{ user.username }}</p>
                    <form id="PostForm" method="post" style="margin-top: 1.3em;">
                        {{ post_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- List of posts -->
            {% for post in posts %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img src="{% static 'images/nobody.jpg' %}" class="img-fluid rounded-start" style="width: 50px;"
                            alt="placeholder image">
                    </div>
                    <div class="col-md-10 text-center">
                        <a href="{% url 'profile_page' post.user.id %}">
                            <h5 class="card-title">{{post.user}}</h5>
                        </a>
                    </div>
                </div>
                <div class="row g-0">
                    <div class=" col card-body">
                        <p class="card-text">{{post.body}}</p>
                        <p class="card-text text-muted">{{post.created_on}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

<!-- Page navigation -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
        <li class="page-item"><a href=" ?page={{ posts.previous_page_number }}" class="page-link"> &laquo; Previous
            </a>
        </li>
        {% endif %}
        {% if posts.has_next %}
        <li class="page-item"><a href=" ?page={{ posts.next_page_number }}" class="page-link"> Next &raquo;
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
<!-- index.html content ends here -->
{% endblock %}