{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- my_profile.html content starts here -->

<div class="container mt-5">
    <div class="row">
        <div class="col-10">
            {% for post in my_posts %}
            <!-- List of post from this user -->
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img src="{% static 'images/nobody.jpg' %}" class="img-fluid rounded-start" style="width: 50px;"
                            alt="placeholder image">
                    </div>
                    <div class="col-md-10 text-center">
                        <h5 class="card-title">{{post.user}}</h5>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-body"></div>
                        <p class="card-text">{{post.body}}</p>
                        <p class="card-text text-muted">{{post.created_on}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-2 text-center">
            <!-- List of users this account follows -->
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Following</h5>
                </div>
                <div class="card-body">
                    {% for follows in my_profile.follows.all %}
                    <a href="{% url 'my_profile' follows.user.id %}">@{{follows}}</a>
                    {% endfor %}
                </div>
            </div>
            <!-- List of users following this account -->
            <div class="card">
                <div class="card-header">
                    <h5>Followed By</h5>
                </div>
                <div class="card-body">
                    {% for followed in my_profile.followed_by.all %}
                    <a href="{% url 'my_profile' followed.user.id %}">@{{followed}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>







<!-- my_profile.html content ends here -->
{% endblock %}