{% extends 'base.html' %}
{% load static %}
{% block title %}
<title> {{user.username| title}}'s
    Profile | Foresight</title>
{% endblock title %}

{% block content %}
<!-- profile_page.html content starts here -->
{% if profile_page %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <!-- Profile Page Header -->
            <div class="card text-bg-dark mb-3 p-3">
                <!-- Upload Profile Image Modal Launch Button -->
                {% if profile_page.user == user %}
                <button class="btn btn-dark btn-upload position-absolute top-0 start-0 rounded-circle m-2"
                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit Profile Image"><i
                        class="fa-solid fa-gear text-warning"></i></button>
                {% endif %}
                <div class="row mb-3">
                    <div class="col">
                        <!-- Profile Image -->
                        {% if "placeholder" in profile_page.profile_image.url  %}
                        <img src="{% static 'images/nobody.jpg' %}" width="150" height="150" class="rounded-circle"
                            alt="placeholder image">
                        {% else %}
                        <img src="{{ profile_page.profile_image.url }}" width="150" height="150" class="rounded-circle"
                            alt="{{profile_page.user.username}}'s profile image">
                        {% endif %}
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-10 col-sm-11">
                        <!-- Follow/ Unfollow Button -->
                        {% if profile_page in user.profile.follows.all %}
                        <a class="btn btn-dark" href="{% url 'unfollow' profile_page.user.id %}"><i
                                class="fa-solid fa-minus"></i> Unfollow</a>
                        {% else %}
                        <a class="btn btn-dark" href="{% url 'follow' profile_page.user.id %}"><i
                                class="fa-solid fa-plus"></i>
                            Follow</a>
                        {% endif %}
                    </div>
                    <!-- Following/ Followers Collapse Toggle -->
                    <div class="col-2 col-sm-1">
                        {% if profile_page.user == user %}
                        <span data-bs-toggle="collapse" data-bs-target="#followsCollapse" aria-expanded="false"
                            aria-controls="followsCollapse">
                            <button class="btn btn-dark" type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Your Circle"><i
                                    class="fa-solid fa-people-group text-primary"></i></button>
                        </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row collapse" id="followsCollapse">
        <div class="col">
            <div class="card text-bg-dark mb-3 p-3 text-capitalize font-weight-bold">
                <div class="row g-0">
                    <div class="col-12 col-sm-6 mb-3 text-center">
                        <!-- List of users this account follows -->
                        <div class="row">
                            <div class="col">
                                <h5><i class="fa-solid fa-person-arrow-up-from-line"></i> Following</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                {% for follows in profile_page.follows.all %}
                                <a class="btn btn-dark btn-outline-light m-1"
                                    href="{% url 'profile_page' follows.user.id %}">{{follows}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 text-center">
                        <!-- List of users following this account -->
                        <div class="row">
                            <div class="col">
                                <h5><i class="fa-solid fa-person-arrow-down-to-line"></i> Followed By</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% for followed in profile_page.followed_by.all %}
                                <a class="btn btn-dark btn-outline-light m-1"
                                    href="{% url 'profile_page' followed.user.id %}">{{followed}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- List of post from this profile -->
    <div class="row">
        <div class="col-12">
            {% for post in profile_posts %}
            <div class="card text-bg-dark mb-3 p-3">
                <div class="row mb-3 g-0">
                    <div class="col-2">
                        <!-- Profile Image -->
                        {% if "placeholder" in profile_page.profile_image.url  %}
                        <img src="{% static 'images/nobody.jpg' %}" width="50" height="50" class="rounded-circle"
                            alt="placeholder image">
                        {% else %}
                        <img src="{{ profile_page.profile_image.url }}" width="50" height="50" class="rounded-circle"
                            alt="{{profile_page.user.username}}'s profile image">
                        {% endif %}
                    </div>
                    <!-- Post Author -->
                    <div class="col-8 col-sm-9 text-center">
                        <a class="btn btn-dark" href="{% url 'profile_page' post.user.id %}">
                            <h5 class="card-title text-capitalize ">{{post.user}}</h5>
                        </a>
                    </div>
                    <div class="col-2 col-sm-1">
                        <!-- Post Delete button -->
                        {% if post.user == user %}
                        <button class="btn btn-dark btn-delete" post_id="{{ post.id }}" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="Delete Post">
                            <i class="fa-solid fa-trash text-danger"></i></button>
                        {% endif %}
                    </div>
                </div>
                <!-- Post Body/ Content -->
                <div class="row g-0">
                    <div class="col-10 col-sm-11">
                        <p class="card-text ">{{post.body}}</p>
                    </div>
                    <div class="col-2 col-sm-1">
                        <!-- Post Edit button -->
                        {% if post.user == user %}
                        <a href="{% url 'edit_post' post.id %}" class="btn btn-dark" post_id="{{ post.id }}"
                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit Post">
                            <i class="fa-solid fa-pen text-success"></i></a>
                        {% endif %}
                    </div>
                </div>
                <!-- Like Counter -->
                {% if post.like_counter > 0 %}
                <div class="row text-muted">
                    <div class="col">
                        <small class="card-text text-light"><i class="fa-solid fa-heart text-danger"></i>
                            {{post.like_counter}}</small>
                    </div>
                </div>
                {% endif %}
                <hr>
                <!-- Like Button -->
                <div class="row text-muted g-0">
                    <div class="col-5 col-sm-7 col-md-8 col-xl-9">
                        {% if user in post.likes.all %}
                        <p class="card-text btn btn-dark"><a class="link-light link-underline-opacity-0"
                                href="{% url 'post_like' post.id %}"><i class="fa-solid fa-heart-circle-minus"></i>
                                Unlike</a></p>
                        {% else %}
                        <p class="card-text btn btn-dark"><a class="link-light link-underline-opacity-0"
                                href="{% url 'post_like' post.id %}"><i class="fa-solid fa-heart-circle-plus"></i>
                                Like</a></p>
                        {% endif %}
                    </div>
                    <div class="col-7 col-sm-5 col-md-4 col-xl-3 mt-2">
                        <small class="card-text text-secondary float-end">{{post.created_on}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<!-- Delete Post Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this post? You can't undo this action.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>


<!-- Upload Image Modal -->
<div class="modal fade" id="profileImageModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="profileImageModalLabel">Select A Profile Image To Upload</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ profile_image_form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-warning">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- profile_page.html content ends here -->
{% endblock %}

{% block extras %}
<script src="{% static 'js/profiles.js' %}"></script>
<script src="{% static 'js/posts.js' %}"></script>
{% endblock %}